{{if eq .RunMode "dev"}}
{{template "debug.html" .}}
{{end}}
<div class="container"> 
	<footer id="footer">
		<div id="footer-3d">
			<div class="gp-container">
				<span class="first-widget-bend"></span>
			</div>		
		</div>
		<div id="footer-widgets" class="gp-footer-larger-first-col">
			<div class="gp-container">
				<div class="footer-widget footer-1">
					<div class="wpb_wrapper">
						<img src="/public/images/f_logo.png" alt=""/>
					</div> 
					<br>
					<p>Ce site est l'aboutissement du travail effectué lors du cours de Séminaire Web dispensé à L'universitée du Québec à Chicoutimi.</p>
					<p class="text">Il a pour but de présenter une bibliothèque de films.</p>
				</div>
				<div class="footer_box">
					<div class="col_1_of_3 span_1_of_3">
						<h3>Categories</h3>
						<ul class="first">
							<li><a href="/Categorie/super-héros">Super Héros</a></li>
							<li><a href="/Categorie/action">Action</a></li>
						</ul>
					</div>
					<div class="col_1_of_3 span_1_of_3">
						<h3>Information</h3>
					</div>
					<div class="col_1_of_3 span_1_of_3">
						<h3>Template</h3>
						<div class="copy">
							<p>&copy; 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
